In [1]:
import sqlite3
import pandas as pd
import wbdata as wb

In [2]:
# Load indicators into DataFrames
# GDP per capita (constant 2015 US$)
gdppc_df = wb.get_dataframe(
    {'NY.GDP.PCAP.KD': 'gdp_per_capita'},
    parse_dates=True
).reset_index()

# Employment to population ratio
epr_df = wb.get_dataframe(
    {'SL.EMP.TOTL.SP.ZS': 'employment_population_ratio'},
    parse_dates=True
).reset_index()

# GDP growth (annual %)
gdp_growth_df = wb.get_dataframe(
    {'NY.GDP.MKTP.KD.ZG': 'gdp_growth'},
    parse_dates=True
).reset_index()

# Population growth (annual %)
pop_growth_df = wb.get_dataframe(
    {'SP.POP.GROW': 'population_growth'},
    parse_dates=True
).reset_index()

In [3]:
# Connect to the SQLite database
conn = sqlite3.connect('wdi_data.db')

# Save indicator DataFrames to SQLite as tables
gdppc_df.to_sql('gdp_per_capita', conn, if_exists='replace', index=False)
epr_df.to_sql('employment_population_ratio', conn, if_exists='replace', index=False)
gdp_growth_df.to_sql('gdp_growth', conn, if_exists='replace', index=False)
pop_growth_df.to_sql('population_growth', conn, if_exists='replace', index=False)

# Save indicator DataFrames to CSV
gdppc_df.to_csv("gdp_per_capita.csv", index=False)
epr_df.to_csv("employment_population_ratio.csv", index=False)
gdp_growth_df.to_csv("gdp_growth.csv", index=False)
pop_growth_df.to_csv("population_growth.csv", index=False)

In [4]:
# Create a temporary view of four indicators for Asian countries
conn.execute('''
CREATE TEMP VIEW asian_countries AS
SELECT 
    g.country,
    CAST(STRFTIME('%Y', g.date) AS INTEGER) AS year,
    g.gdp_per_capita,
    e.employment_population_ratio,
    gr.gdp_growth,
    pr.population_growth
FROM gdp_per_capita g
LEFT JOIN employment_population_ratio e
    ON g.country = e.country AND g.date = e.date
LEFT JOIN gdp_growth gr
    ON g.country = gr.country AND g.date = gr.date
LEFT JOIN population_growth pr
    ON g.country = pr.country AND g.date = pr.date
WHERE g.country IN (
    -- South Asia
    'Afghanistan', 'Bangladesh', 'Bhutan', 'India',
    'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka',

    -- East Asia
    'China', 'Hong Kong SAR, China', 'Japan', 'Korea, Dem. People''s Rep.', 
    'Korea, Rep.', 'Macao SAR, China', 'Mongolia',
             
    -- Southeast Asia
    'Brunei Darussalam', 'Cambodia', 'Indonesia', 'Lao PDR', 
    'Malaysia', 'Myanmar', 'Philippines', 'Singapore',
    'Thailand', 'Timor-Leste', 'Viet Nam',

    -- Central Asia
    'Armenia', 'Azerbaijan', 'Georgia', 'Kazakhstan', 'Kyrgyz Republic', 
    'Tajikistan', 'Turkmenistan', 'Uzbekistan',

    -- Middle East & North Africa (Western Asia)
    'Bahrain', 'Cyprus', 'Egypt, Arab Rep.', 'Iran, Islamic Rep.', 'Iraq', 'Israel',
    'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Qatar', 'Saudi Arabia', 'Syrian Arab Republic', 
    'Turkiye', 'United Arab Emirates', 'West Bank and Gaza', 'Yemen, Rep.'
);
''')

In [5]:
# Compute summary statistics for each country in the view
desc_stats_df = pd.read_sql_query('''
SELECT 
    country,
    COUNT(*) AS n_years,
    AVG(gdp_per_capita) AS avg_gdp_per_capita,
    MIN(gdp_per_capita) AS min_gdp_per_capita,
    MAX(gdp_per_capita) AS max_gdp_per_capita,
    AVG(employment_population_ratio) AS avg_employment_ratio,
    MIN(gdp_per_capita) AS min_employment_ratio,
    MAX(gdp_per_capita) AS max_employment_ratio,
    AVG(gdp_growth) AS avg_gdp_growth,
    MIN(gdp_growth) AS min_gdp_growth,
    MAX(gdp_growth) AS max_gdp_growth,
    AVG(population_growth) AS avg_population_growth
FROM asian_countries
GROUP BY country
ORDER BY country;
''', conn)

desc_stats_df

,country,n_years,avg_gdp_per_capita,min_gdp_per_capita,max_gdp_per_capita,avg_employment_ratio,min_employment_ratio,max_employment_ratio,avg_gdp_growth,min_gdp_growth,max_gdp_growth,avg_population_growth
0,Afghanistan,65,456.122012,277.118051,580.603833,41.497676,277.118051,580.603833,4.602173,-20.738839,28.600001,2.418241
1,Armenia,65,2507.861035,792.567859,5151.012731,54.121147,792.567859,5151.012731,3.660196,-41.800003,14.000000,0.750806
2,Azerbaijan,65,3539.166619,1102.497890,5651.345639,63.766529,1102.497890,5651.345639,3.916412,-23.099999,34.500000,1.521108
3,Bahrain,65,22079.575222,17091.290302,25407.969551,68.263735,17091.290302,25407.969551,4.617434,-8.834827,30.476297,3.578547
4,Bangladesh,65,700.522162,373.260374,1885.377336,56.085118,373.260374,1885.377336,4.406776,-13.973729,10.952789,1.899123
5,Bhutan,65,1417.675578,370.056039,3467.385989,65.957294,370.056039,3467.385989,6.126208,-10.218397,29.054324,1.992739
6,Brunei Darussalam,65,44527.469870,28549.175528,96517.133293,62.565265,28549.175528,96517.133293,0.794002,-22.384824,24.338389,2.615344
7,Cambodia,65,1007.803790,496.770551,2083.593018,80.438412,496.770551,2083.593018,4.560490,-34.808639,21.531519,1.844813
8,China,65,2879.983541,163.907044,12175.196115,68.925618,163.907044,12175.196115,7.947512,-27.270000,19.300000,1.188815
9,Cyprus,65,20082.208536,6173.291992,32341.302734,59.202647,6173.291992,32341.302734,4.941771,-6.587477,20.266292,1.317422
10,"Egypt, Arab Rep.",65,2096.077750,754.665127,4111.249244,41.519824,754.665127,4111.249244,5.150008,-1.606792,13.279689,2.299828
11,Georgia,65,2986.687437,966.419596,6180.620599,56.785529,966.419596,6180.620599,2.931174,-44.899775,12.575570,0.030139
12,"Hong Kong SAR, China",65,23047.306140,3956.034867,45280.495542,57.958618,3956.034867,45280.495542,5.523792,-6.544768,16.164330,1.402510
13,India,65,793.063618,312.777848,2236.312793,52.169765,312.777848,2236.312793,5.194939,-5.777725,9.689592,1.894344
14,Indonesia,65,1774.151672,568.830964,4192.623902,63.209176,568.830964,4192.623902,5.110462,-13.126725,10.915179,1.838627
15,"Iran, Islamic Rep.",65,4435.950349,2345.110872,7422.128609,38.679029,2345.110872,7422.128609,4.059892,-21.599649,23.171246,2.285513
16,Iraq,65,2724.314389,997.925582,4932.927291,37.607735,997.925582,4932.927291,6.947794,-64.047107,57.817828,2.951192
17,Israel,65,24383.004661,8756.373299,42852.581027,57.602029,8756.373299,42852.581027,5.130355,-1.464606,16.241952,2.427544
18,Japan,65,25035.061198,6388.878101,36990.330114,59.307559,6388.878101,36990.330114,3.371221,-5.693236,12.882468,0.459556
19,Jordan,65,3906.795009,2926.451256,4939.755373,32.868765,2926.451256,4939.755373,4.615149,-10.729219,20.802909,4.119827
20,Kazakhstan,65,7369.499024,3498.514544,11453.395273,66.226529,3498.514544,11453.395273,2.948485,-12.600000,13.500000,1.219379
21,"Korea, Dem. People's Rep.",65,NaN,NaN,NaN,79.602794,NaN,NaN,NaN,NaN,NaN,1.289690
22,"Korea, Rep.",65,13355.984108,1027.654781,34121.021176,59.591176,1027.654781,34121.021176,7.024964,-5.129448,14.898323,1.152907
23,Kuwait,65,32520.949659,14812.920013,68673.328857,67.769882,14812.920013,68673.328857,2.572325,-41.007791,82.809329,4.361037
24,Kyrgyz Republic,65,951.731220,587.298181,1264.174395,67.788265,587.298181,1264.174395,2.370430,-20.085159,13.200030,1.879799
25,Lao PDR,65,1334.756664,551.363164,2648.887266,60.800059,551.363164,2648.887266,6.015320,-2.010201,14.190637,2.038942
26,Lebanon,65,6494.320825,2218.626436,8955.543362,40.997242,2218.626436,8955.543362,3.674814,-42.451118,49.447379,1.854926
27,"Macao SAR, China",65,47262.876643,23023.339772,98998.258674,64.290559,23023.339772,98998.258674,6.350126,-54.336155,75.061377,2.167009
28,Malaysia,65,5290.282247,1266.315257,11429.589412,61.218647,1266.315257,11429.589412,6.085219,-7.359415,11.701082,2.357141
29,Maldives,65,5858.583973,1367.223556,11485.554695,52.837824,1367.223556,11485.554695,7.244362,-32.908829,37.507870,2.781517
30,Mongolia,65,2422.882222,1418.065607,4456.536276,56.144676,1418.065607,4456.536276,4.589066,-9.256466,17.290778,2.015906
31,Myanmar,65,437.927667,122.678901,1440.989882,64.097559,122.678901,1440.989882,5.246769,-12.016372,13.843997,1.448815
32,Nepal,65,535.177365,323.260046,1136.093350,36.465294,323.260046,1136.093350,3.791193,-2.977406,9.681130,1.708080
33,Oman,65,15220.976045,2340.350982,22819.197732,59.343029,2340.350982,22819.197732,7.766549,-14.252058,81.887797,3.576519
34,Pakistan,65,965.615942,413.961862,1642.280670,49.683235,413.961862,1642.280670,4.991987,-1.274087,11.353462,2.681154
35,Philippines,65,1959.344342,1123.782100,3745.652329,58.845206,1123.782100,3745.652329,4.300621,-9.518295,8.782009,2.247062
36,Qatar,65,57217.572109,38185.151333,81608.571687,84.470118,38185.151333,81608.571687,6.020881,-7.305433,30.012040,6.826654
37,Saudi Arabia,65,28940.632199,15761.627890,58886.857007,50.694912,15761.627890,58886.857007,5.230752,-16.109105,52.592094,4.149797
38,Singapore,65,28401.728571,3611.953651,67948.892827,63.865941,3611.953651,67948.892827,6.942694,-3.869799,14.519750,2.030711
39,Sri Lanka,65,1929.199377,659.693306,4495.710463,49.928588,659.693306,4495.710463,4.315766,-7.346791,8.669483,1.308866
40,Syrian Arab Republic,65,1001.787614,517.131105,1542.719572,39.528794,517.131105,1542.719572,3.590399,-26.339017,25.795773,2.570017
41,Tajikistan,65,875.816087,369.934884,1491.073894,40.097088,369.934884,1491.073894,2.652664,-29.000001,13.900001,2.528773
42,Thailand,65,3028.316744,592.465635,6434.537705,70.771382,592.465635,6434.537705,5.551894,-7.634035,13.288114,1.559038
43,Timor-Leste,65,1113.261890,631.072913,2015.692702,66.537824,631.072913,2015.692702,5.106058,-35.452431,58.078096,1.720983
44,Turkiye,65,6203.257730,2395.050668,14713.567073,46.085882,2395.050668,14713.567073,4.786727,-5.750007,11.439396,1.750097
45,Turkmenistan,65,3895.564055,1810.780481,7880.445286,47.654971,1810.780481,7880.445286,5.680217,-17.299860,35.384558,2.380731
46,United Arab Emirates,65,65010.676458,40776.630868,117949.376546,74.814059,40776.630868,117949.376546,7.439765,-14.958137,76.620155,6.952124
47,Uzbekistan,65,2003.106758,1134.178711,3725.674146,55.060059,1134.178711,3725.674146,4.500489,-11.200000,9.473005,2.331063
48,Viet Nam,65,1701.585659,595.491333,3760.397714,74.408353,595.491333,3760.397714,6.350425,2.553729,9.540480,1.788038
49,West Bank and Gaza,65,2767.852412,1836.980425,3483.099035,33.121875,1836.980425,3483.099035,4.078642,-12.488382,21.924486,2.908617
50,"Yemen, Rep.",65,1785.358973,859.209303,2356.199574,34.436824,859.209303,2356.199574,1.861577,-27.994546,8.207598,3.115759

In [ ]:
# Count missing values for each indicator by country
pd.read_sql_query('''
SELECT 
    country,
    COUNT(*) AS total_rows,
    SUM(CASE WHEN gdp_per_capita IS NULL THEN 1 ELSE 0 END) AS missing_gdp_per_capita,
    SUM(CASE WHEN employment_population_ratio IS NULL THEN 1 ELSE 0 END) AS missing_employment_ratio,
    SUM(CASE WHEN gdp_growth IS NULL THEN 1 ELSE 0 END) AS missing_gdp_growth,
    SUM(CASE WHEN population_growth IS NULL THEN 1 ELSE 0 END) AS missing_population_growth
FROM asian_countries
GROUP BY country
ORDER BY missing_gdp_per_capita DESC;
''', conn)

,country,total_rows,missing_gdp_per_capita,missing_employment_ratio,missing_gdp_growth,missing_population_growth
0,"Korea, Dem. People's Rep.",65,65,31,65,2
1,Afghanistan,65,41,31,42,2
2,West Bank and Gaza,65,35,33,36,32
3,"Yemen, Rep.",65,31,31,37,2
4,Timor-Leste,65,31,31,32,2
5,Kazakhstan,65,31,31,32,2
6,Azerbaijan,65,31,31,32,2
7,Armenia,65,31,31,32,2
8,Lebanon,65,30,32,31,2
9,Uzbekistan,65,28,31,29,2
10,Turkmenistan,65,28,31,29,2
11,Kyrgyz Republic,65,27,31,28,2
12,Tajikistan,65,26,31,27,2
13,Viet Nam,65,25,31,26,2
14,Lao PDR,65,25,31,26,2
15,"Macao SAR, China",65,23,31,24,2
16,Mongolia,65,22,31,23,2
17,Jordan,65,17,31,18,2
18,Cyprus,65,16,31,17,2
19,Cambodia,65,16,31,17,2
20,Brunei Darussalam,65,15,31,16,2
21,Bhutan,65,12,31,13,2
22,United Arab Emirates,65,11,31,12,2
23,Qatar,65,11,31,12,2
24,Maldives,65,11,31,12,2
25,Kuwait,65,11,31,12,2
26,Bahrain,65,11,31,12,2
27,Syrian Arab Republic,65,2,31,3,2
28,Sri Lanka,65,2,31,3,2
29,"Hong Kong SAR, China",65,2,31,3,2
30,Turkiye,65,1,31,2,2
31,Thailand,65,1,31,2,2
32,Singapore,65,1,31,2,2
33,Saudi Arabia,65,1,31,2,2
34,Philippines,65,1,31,2,2
35,Pakistan,65,1,31,2,2
36,Oman,65,1,31,2,2
37,Nepal,65,1,31,2,2
38,Myanmar,65,1,31,2,2
39,Malaysia,65,1,31,2,2
40,"Korea, Rep.",65,1,31,2,2
41,Japan,65,1,31,2,2
42,Israel,65,1,31,2,2
43,Iraq,65,1,31,2,2
44,"Iran, Islamic Rep.",65,1,31,2,2
45,Indonesia,65,1,31,2,2
46,India,65,1,31,2,2
47,Georgia,65,1,31,2,2
48,"Egypt, Arab Rep.",65,1,31,2,2
49,China,65,1,31,2,2
50,Bangladesh,65,1,31,2,2

#### Yearly Trends in Economic Development Indicators (2000–2022)

In [6]:
# Average GDP per Capita Over Time
pd.read_sql_query('''
SELECT 
    year,
    AVG(gdp_per_capita) AS avg_gdp_per_capita
FROM asian_countries
WHERE year BETWEEN 2000 AND 2022
GROUP BY year
ORDER BY year
''', conn)

    year  avg_gdp_per_capita
0   2000        10393.108037
1   2001        10306.459501
2   2002        10403.438332
3   2003        10735.568288
4   2004        11459.399661
5   2005        11754.745019
6   2006        12255.707301
7   2007        12450.514358
8   2008        12419.280644
9   2009        12082.596983
10  2010        12927.780509
11  2011        13661.044261
12  2012        13815.571467
13  2013        13940.620449
14  2014        13787.934133
15  2015        13376.057196
16  2016        13463.956817
17  2017        13716.372715
18  2018        14013.225060
19  2019        14066.214340
20  2020        12601.809971
21  2021        13540.002841
22  2022        13622.094486

In [7]:
# Average Employment to Population Ratio Over Time
pd.read_sql_query('''
SELECT 
    year,
    AVG(employment_population_ratio) AS avg_employment_ratio
FROM asian_countries
WHERE year BETWEEN 2000 AND 2022
GROUP BY year
ORDER BY year
''', conn)

    year  avg_employment_ratio
0   2000             57.047608
1   2001             56.779804
2   2002             56.401471
3   2003             56.330020
4   2004             56.263706
5   2005             56.275667
6   2006             56.336824
7   2007             56.510745
8   2008             56.236020
9   2009             56.138137
10  2010             56.385039
11  2011             56.646020
12  2012             56.565353
13  2013             56.458157
14  2014             56.531667
15  2015             56.584706
16  2016             56.579647
17  2017             56.531510
18  2018             56.686922
19  2019             56.878863
20  2020             55.517039
21  2021             55.648843
22  2022             56.415824

In [8]:
# Average GDP Growth Over Time
pd.read_sql_query('''
SELECT 
    year,
    AVG(gdp_growth) AS avg_gdp_growth
FROM asian_countries
WHERE year BETWEEN 2000 AND 2022
GROUP BY year
ORDER BY year
''', conn)

    year  avg_gdp_growth
0   2000        7.002528
1   2001        3.474163
2   2002        4.573037
3   2003        5.815277
4   2004        8.598225
5   2005        6.761817
6   2006        7.812865
7   2007        7.993075
8   2008        5.749328
9   2009        2.898034
10  2010        6.860455
11  2011        5.871736
12  2012        4.578276
13  2013        4.347680
14  2014        3.894697
15  2015        2.703423
16  2016        3.902099
17  2017        3.817012
18  2018        3.953211
19  2019        3.842340
20  2020       -4.321437
21  2021        5.044777
22  2022        3.866795

#### Leading Countries by Economic Development Indicator (2022)

In [9]:
# Top 10 Countries by GDP per Capita in 2022
pd.read_sql_query('''
SELECT 
    country,
    gdp_per_capita
FROM asian_countries
WHERE year = '2022'
ORDER BY gdp_per_capita DESC
LIMIT 10
''', conn)

                country  gdp_per_capita
0             Singapore    67948.892827
1                 Qatar    64315.626367
2  Hong Kong SAR, China    43281.795509
3                Israel    42710.401759
4  United Arab Emirates    42687.720718
5                 Japan    36202.639275
6      Macao SAR, China    34121.950823
7           Korea, Rep.    33690.378879
8                Cyprus    32015.351562
9     Brunei Darussalam    28549.175528

In [10]:
# Top 10 Countries by Employment to Population Ratio in 2022
pd.read_sql_query('''
SELECT 
    country,
    employment_population_ratio
FROM asian_countries
WHERE year = '2022'
ORDER BY employment_population_ratio DESC
LIMIT 10
''', conn)

                     country  employment_population_ratio
0                      Qatar                       87.461
1                   Cambodia                       79.833
2  Korea, Dem. People's Rep.                       79.808
3       United Arab Emirates                       75.023
4                   Viet Nam                       73.347
5                     Kuwait                       72.686
6                    Bahrain                       69.477
7                 Kazakhstan                       68.337
8                  Singapore                       67.230
9                   Thailand                       66.549

In [11]:
# Top 10 Countries by GDP Growth in 2022
pd.read_sql_query('''
SELECT 
    country,
    gdp_growth
FROM asian_countries
WHERE year = '2022'
ORDER BY gdp_growth DESC
LIMIT 10
''', conn)

           country  gdp_growth
0         Maldives   13.826090
1          Armenia   12.600000
2          Georgia   10.958532
3             Oman    9.577106
4  Kyrgyz Republic    8.967505
5         Malaysia    8.861822
6         Viet Nam    8.123514
7       Tajikistan    8.000000
8             Iraq    7.639811
9      Philippines    7.580982

In [12]:
# Load data from the view into a DataFrame
wdi_df = pd.read_sql_query("SELECT * FROM asian_countries", conn)

# Save merged data from asian_countries view
wdi_df.to_csv("asian_countries.csv", index=False)

In [13]:
wdi_df

,country,year,gdp_per_capita,employment_population_ratio,gdp_growth,population_growth
0,Afghanistan,2024,NaN,32.511,NaN,NaN
1,Afghanistan,2023,379.707497,32.402,2.710887,2.135594
2,Afghanistan,2022,377.665627,32.333,-6.240172,1.435704
3,Afghanistan,2021,408.625855,36.022,-20.738839,2.356098
4,Afghanistan,2020,527.834554,36.710,-2.351101,3.153609
...,...,...,...,...,...,...
3310,"Yemen, Rep.",1964,NaN,NaN,NaN,2.289077
3311,"Yemen, Rep.",1963,NaN,NaN,NaN,2.205000
3312,"Yemen, Rep.",1962,NaN,NaN,NaN,2.220673
3313,"Yemen, Rep.",1961,NaN,NaN,NaN,2.197731
3314,"Yemen, Rep.",1960,NaN,NaN,NaN,NaN